## Bài tập buổi 7

In [ ]:
import pandas as pd

### Bài 1

In [ ]:
# Tạo một DataFrame chứa thông tin về sản phẩm, danh mục, và doanh thu. 

df_products = pd.DataFrame({
    'product_id': [1, 2, 3, 4, 5],
    'category': ['Computer', 'Laptop', 'Tablet', 'Smartphone', 'Smartwatch'],
    'revenue': [1999, 2999, 1500, 1999, 299]
})

# TODO: Sử dụng groupby() để tính tổng doanh thu theo từng danh mục

In [ ]:
df_products_sum = df_products.groupby('category')['revenue'].sum()
print(df_products_sum)

### Bài 2

In [ ]:
# Tạo một DataFrame về thông tin nhân viên và lương và phòng ban. 

df_employees = pd.DataFrame({
    'employee_id': [1, 2, 3, 4, 5],
    'name': ['John', 'Jane', 'Jim', 'Jill', 'Jack'],
    'salary': [50000, 55000, 60000, 65000, 70000],
    'department': ['IT', 'HR', 'IT', 'HR', 'IT']
})

# TODO: Sử dụng groupby() để tính trung bình lương theo từng phòng ban

In [ ]:
df_salary_mean = df_employees.groupby('department')['salary'].mean()
print(df_salary_mean)

In [ ]:
# TODO: Thêm một cột mới chứa thông tin về tiền thưởng
df_employees['bonus'] = [1000, 2000, 3000, 4000, 5000]
df_employees.head()

In [ ]:
# TODO: Xóa một cột khỏi DataFrame chứa thông tin về nhân viên (ví dụ: xóa cột 'Tiền Thưởng')
df_employees.drop(columns='bonus')

### Bài 3

In [ ]:
# Tạo một DataFrame chứa thông tin về sản phẩm và giá cả
df_products = pd.DataFrame({
    'product_id': [1, 2, 3, 4, 5],
    'product_name': ['Laptop', 'Smartphone', 'Tablet', 'Smartwatch', 'Computer'],
    'price': [1999, 2999, 1500, 1999, 299]
})

# TODO: sắp xếp theo giá sản phẩm tăng dần
# TODO: sắp xếp theo giá, sau đó cùng giá sắp xếp theo tên sản phẩm

In [ ]:
df_price_sorted = df_products.sort_values(by=['price', 'product_name'], ascending=[True, True])
print(df_price_sorted)

### Bài 4

In [ ]:
# Tạo một DataFrame chứa dữ liệu khoảng 10 dòng trong đó 3-4 dòng thiếu dữ liệu trong một cột giá.
df_products = pd.DataFrame({
    'product_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'product_name': ['Laptop', 'Smartphone', 'Tablet', 'Smartwatch', 'Computer', 'Laptop', 'Smartphone', 'Tablet', 'Smartwatch', 'Computer'],
    'price': [1999, None, 1500, None, 299, 1999, None, 1500, None, 299]
})

# TODO: thay thế các giá trị thiếu bằng giá trị trung bình của cột đó

In [ ]:
df_products_cleaned = df_products.fillna({'price' : df_products['price'].mean()})
df_products_cleaned.head(10)

### Bài 5

In [ ]:
# Tạo một DataFrame chứa thông tin về học sinh, bao gồm tên, lớp, và điểm thi.
df_students = pd.DataFrame({
    'student_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'name': ['John', 'Jane', 'Jim', 'Jill', 'Jack', 'Mike', 'Sarah', 'Emily', 'David', 'Olivia'],
    'class': ['10A', '10B', '10A', '10B', '10A', '10A', '10B', '10A', '10B', '10A'],
    'score': [85, 90, 78, 92, 88, 95, 80, 90, 85, 92]
})

# TODO:  Nhóm theo lớp và tính điểm trung bình của từng lớp

In [ ]:
df_students.groupby('class')['score'].mean()

### Bài 6

In [ ]:
# Tạo một DataFrame chứa thông tin về các sản phẩm, bao gồm tên và giá.
df_products = pd.DataFrame({
    'product_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'product_name': ['Laptop', 'Smartphone', 'Tablet', 'Smartwatch', 'Computer', 'Camera', 'Printer', 'Speaker', 'Headphone', 'Keyboard'],
    'price': [1999, 2999, 1500, 1999, 299, 1999, 1500, 1999, 299, 1500]
})

# TODO: Tạo 1 cột giảm giá 10% cho các sản phẩm có giá trên 2000, các sản phẩm còn lại giảm 5%

In [ ]:
df_products['sales off'] = df_products['price'].apply(lambda price: price * 0.9 if price > 2000 else price * 0.95)
df_products.head(10)

### Bài 7

In [ ]:
# Tạo một DataFrame chứa thông tin về các sản phẩm có doanh thu.
df_products = pd.DataFrame({
    'product_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'product_name': ['Laptop', 'Smartphone', 'Tablet', 'Smartwatch', 'Computer', 'Camera', 'Printer', 'Speaker', 'Headphone', 'Keyboard'],
    'revenue': [250000, 250000, 150000, 199900, 299000, 150000, 199900, 299000, 150000, 199900]
})

# TODO: Lọc các sản phẩm có doanh thu trên 200000

In [ ]:
df_high_revenue = df_products[df_products['revenue'] > 200000]
df_high_revenue.head(10)